body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #eee;
}
::-webkit-scrollbar {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #FFCD10;
}
/*font-family: 'Roboto Slab', serif;
https://goo.gl/QQg4g9
*/

header {
  height: 60px;
  color: #515151;
  background: #FFCD10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img, header nav {
  margin: 0 50px;
}
header img {
  height: 58px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;  
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color: #515151;
  font-size: 14px;
  text-transform: uppercase;
  transition: .1s;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  margin-left: 50px
}
header nav .entrar {
  margin-left: 70px;
  padding: 5px 8px;
  box-sizing: border-box;
  border: 1px solid #515151;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
}
nav ul li a:last-child:hover {
  border: 1px solid white;
}
.entrar:hover {
  color: white;
}
header nav .enlace:hover {
  color: white;
  font-weight: 500;
  border: none !important;
}
/* fin de nav */
/**********************/
/* inicio de seccion-1 */
.seccion-1 {
  display: flex;
  align-items: center;
  background: #0E0E0E;
  color: #fff;
  font-family: 'Roboto', serif;
  height: 80px;
}
.seccion-1 h1 {
  font-weight: 300;
  margin: 0 auto;
}
/* fin de seccion-1 */
/**********************/
/* inicio de seccion-2 */
.seccion-2 {
  height: auto;
  background: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion-2 .curso {
  width: 750px;
  height: 190px;
  background: white;
  margin: 20px 0;
  border-radius: 3px;
  box-shadow: 0 0 4px #848484,
              0 0 5px #eee;
  border: 1px solid #888;
  display: flex;
  align-items: center;
}
.seccion-2 .curso:nth-child(1) {
  margin-top: 40px;
}
.seccion-2 .curso:nth-child(8) {
  margin-bottom: 50px;
}
.seccion-2 .curso .img {
  background: #FFCD10;
  width: 200px;
  height: 100%;
}
.seccion-2 .curso .img img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.seccion-2 .curso .texto {
  display: flex;
  flex-direction: column;
  width: 490px;
  color: #616161;
  margin-left: 30px; 
}
.seccion-2 .curso .texto h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0 0 0;
  font-size: 22px;
}
.seccion-2 .curso .texto p {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}
.seccion-2 .curso .botones {
  display: flex;
  justify-content: flex-end;
}
.seccion-2 .curso .botones a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #616161;
  font-size: 16px;
  
  padding: 4px 8px;
  transition: .2s all;
}
.seccion-2 .curso .botones a:hover {
  background: #ECECEC;
}
/* fin de seccion-2 */
/**********************/
/* inicio de footer */
footer {
  background: #344;
  display: flex;
  justify-content: center;
  height: 200px;
}
.sociales {
  height: 200px;
  background: #344;
  width: 85vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sociales h2 {
  width: 85vw;
  color: #FFCD10;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #FFCD10;;
  padding-bottom: 10px;
}
.iconos-social {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}
.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #515151;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 50%;
  transition: all .2s;
}
.circle a{
  text-decoration: none;
}
.icon-youtube {
  color: white !important;
}
.icon-facebook {
  color: white !important;
}
.icon-google {
  color: white !important;
}
.icon-twitter {
  color: white !important;
}
.icon-youtube:hover {
  background: #b31217;
  color: white;
}
.icon-facebook:hover {
  background: #3B5998;
  color: white;
}
.icon-google:hover {
  background: #d34836;
  color: white;
}
.icon-twitter:hover {
  background: #00aced;
  color: white;
}
/* fin de footer */
/**********************/
/* Inicio Desarrollado por @WilbortER*/ 
.desarrollador {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e0e0e;
  color: #9a9a9a;
}
.desarrollador p{
  font-size: 10px;
  margin: 0 5vw;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
}
.desarrollador p span {
  font-weight: 700;
}
.desarrollador p a {
  text-decoration: none;
  color: #9a9a9a;
}
.desarrollador .hiden, .desarrollador .hiden a {
  color: #0e0e0e;
  cursor: normal;
}
/* Fin Desarrollado por @WilbortER*/ 
/**********************************/