body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
/*font-family: 'Roboto Slab', serif;*/
.container-principal {
  height: 100vh;
  background: url(../img/IMG_0476.jpg);
  background-size: cover;
}
.img-bg {
  background: rgba(0,0,0,.6);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 60px;
  color: #515151;
  background: #FFCD10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img, header nav {
  margin: 0 50px;
}
header img {
  height: 58px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;  
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color: #515151;
  font-size: 14px;
  text-transform: uppercase;
  transition: .1s;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  margin-left: 50px
}
header nav .entrar {
  margin-left: 70px;
  padding: 5px 8px;
  box-sizing: border-box;
  border: 1px solid #515151;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
}
nav ul li a:last-child:hover {
  border: 1px solid white;
}
.entrar:hover {
  color: white;
}
header nav .enlace:hover {
  color: white;
  font-weight: 500;
  border: none !important;
}
/* fin de nav */
/**********************/
/* inicio de main */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main img {
  width: 300px;
  transition: .4s;
}
.main img:hover {
  transform: scale(1.1);
}
.main p{
  color: white;
  font-size: 36px;
  font-family: 'Roboto Slab', sans-serif;
}
/* fin de main */
/**********************/
/* inicio de seccion-1 */
.seccion-1 {
  height: 50vh;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-1 .container-texto {
  width: 40vw;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
}
.seccion-1 .container-texto h1 {
  color: #616161;
  margin: 0;
  font-size: 32px;
}
.seccion-1 .container-texto p {
  color: #616161;
  font-weight: 300;
}
.seccion-1 .container-texto p:nth-child(2) {
  margin-top: 30px;
}
/* fin de seccion-1 */
/**********************/
/* inicio de seccion-2 */
.seccion-2{
  height: 50vh;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', serif;
}
.seccion-2 .container {
  width: 40%;
  margin: 0 auto;
}
.seccion-2 .container h2 {
  font-size: 32px;
  color: #212121;
}
.seccion-2 .container p {
  color: #757575;
  text-align: left;
  padding-left: 0;
}
.seccion-2 img {
  background: red;
  width: 340px;
  margin-right: 150px;
}
/* fin de seccion-2 */
/**********************/
/* inicio de seccion-3*/
.seccion-3 {
  height: 100vh;
  background: #fdd835;
  display: flex;
  flex-direction: column;
}
.seccion-3 h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 38px;
  text-align: center;
  margin: 40px auto;
  color: #444;
}
.seccion-3 .container {
  height: 450px;
  width: 95%;
  margin: 0 auto;
}
.seccion-3 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seccion-3 .container img {
  width: 100%
}
.programa-1, .programa-2, .programa-3 {
  width: 270px;
  height: 440px;
  background: #f6f6f6;
}
.seccion-3 .container h3 {
  text-align: center;
  font-size: 20px;
  margin: 30px 0 10px 0;
  color: #444;
}
.seccion-3 .container p {
  text-align: center;
  color: #848484;
  font-size: 14px;
  padding: 0 20px 12px 20px;
}
.leer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-3 .container a {
  text-decoration: none;
  color: #515151;
  font-size: 14px;
  padding: 9px 15px;
  background: gold;
  box-shadow: 0 0 2px #848484,
              0 0 3px black;
  transition: all .1s;
  border-radius: 1px;
}
.seccion-3 .container a:hover {
  font-weight: bold;
  background: #ffcd10;
  transition: all .1s;
}
.seccion-3 .container a:active {
  padding: 8.5px 14px;
}
.seccion-3 .programa-1 {
  margin-left: 12.5vw;
}
.seccion-3 .programa-3 {
  margin-right: 12.5vw;
}
/* fin de seccion-3 */
/**********************/
/* inicio de seccion-4*/
.seccion-4 {
  height: 50vh;
  background: #444;
}




/* Inicio Desarrollado por @WilbortER*/ 
.desarrollador {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e0e0e;
  color: #9a9a9a;
}
.desarrollador p{
  font-size: 10px;
  margin: 0 5vw;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
}
.desarrollador p span {
  font-weight: 700;
}
.desarrollador p a {
  text-decoration: none;
  color: #9a9a9a;
}
.desarrollador .hiden, .desarrollador .hiden a {
  color: #0e0e0e;
  cursor: normal;
}
/* Fin Desarrollado por @WilbortER*/ 
/**********************************/